<a name="related-products" id="related-products"></a>

<script>
//<![CDATA[
//Customization by Vital - second image mouseover.  Added in by Mike 12 26 
$( function(){
	$(".boxProductPix").hoverIntent( function(){$('div.imageContainer:last', this).fadeOut('slow'); }, 
function(){$('div.imageContainer:last', this).fadeIn('slow');} );
});
//END customization
//]]>
</script>


<div class="block-related-products {block_class}" style="{block_style}"  >


<h1 class="commonbg">{related_products_title}</h1>

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<!-- BEGIN ri_rows -->

		<tr>
			<!-- BEGIN ri_cols -->

			<td align="left" valign="top" width="{ri_column}" class="productGridBox" >
                <table border="0" cellspacing="0" cellpadding="0">
                
                <tr><td valign="top"  class="boxProductTop">
					<div class="block-related-title" >
                    <div class="commonbg">
					<h2 class="listing"><a class="bigtitle" href="{details_url}" title="{a_title}">{item_name}</a></h2>
                    </div>
					</div>
                </td></tr>
                <tr><td> 
                     <!-- BEGIN  ri_small_image -->
					 <div class="boxProductPix">
                     
                     <div class="imageContainer">
					 <div class="centeredImageContainer">
                         <a href="{details_url}" title="{a_title}"><img src="{src2}" alt="{alt}" /></a>
					  </div>
					  </div>
                      
					  <div class="imageContainer">
					  <div class="centeredImageContainer">
                         <a href="{details_url}" title="{a_title}"><img name="image_{form_id}" src="{src}" alt="{alt}" /></a>
					  </div>				
	                  </div>
 	
                      </div>
				     <!-- END ri_small_image --> 
                  </td></tr>
                  <tr><td> 
                    
                   
                    
                    
                    <!-- begin ri_price_block -->
                    
					<div class="priceBox">
						<span class="priceData">{ri_price}</span> <span class="">{ri_tax_price}</span>
                    </div>
					
                   
                    <!-- end ri_price_block -->
                    
                   
                   
                    
				
				    </td></tr>
                  
                 
                </table>
			</td><!-- END ri_cols -->
		</tr><!-- END ri_rows -->
	</table><!-- begin ri_navigator_block -->

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="right" class="padding10px">&nbsp;{ri_navigator}&nbsp;</td>
		</tr>
	</table><!-- end ri_navigator_block -->
</div>


