<script type="text/javascript">
	$(document).ready(function() {
		$("a.tracking").click(
			  function() {
				if($(window).width() > 1100 && $(window).height() > 600) {
					showDialog('1040', '550', '<iframe width="100%" height"500" style="height: 525px;" scrolling="no" frameborder="0"  src="' + $(this).attr("href") + '" marginheight="0" marginwidth="0"></iframe>'); return false;
				}
				return true;
			  });
});
</script>
<div class="block-user-orders {block_class}" style="{block_style}">
<h1>{MY_ORDERS_MSG}</h1>
<div class="BlockMiddle">

	<div class="MiddleCenter">



		<table border="0" cellspacing="0" width="100%" class="infoTable2"><!-- begin sorters -->

		<tr align="center">

			<td class="header">{sorter_id}</td>

			<td class="header">{sorter_status}</td>
			
			<td class="header" class="titleText">Tracking #</td>

			<td class="header">{sorter_date}</td>

			<td class="header">{sorter_total}</td>

			<td class="header" class="titleText">View {INVOICE_MSG}</td>

			<!--td class="header">&nbsp;</td-->

		</tr><!-- end sorters --><!-- begin records -->

		<tr valign="top" align="center">

			<td class="row">{order_id}</td>

			<td class="row">{order_status}</td>
			
			<td class="row">{tracking}</td>

			<td class="row">{order_placed_date}</td>

			<td class="row" align="right">{order_total}</td>

			<td class="row"><!-- begin invoice_links -->

				<a href="{user_invoice_html_href}?order_id={order_id}" target="_blank"><img src="images/html_icon.gif" border="0" /></a>&nbsp;

				<a href="{user_invoice_pdf_href}?order_id={order_id}"><img src="images/pdf_icon.gif" border="0" /></a><!-- end invoice_links -->

			</td>

			<!--td class="row" id="butTd">

				<a href="{user_order_href}?order_id={order_id}">{VIEW_ORDER_DETAILS_MSG}</a><!-- begin pay_link -->

				<span> | </span>

				<a href="{user_order_payment_href}?order_id={order_id}&vc={vc}">{PAY_FOR_YOUR_ORDER_MSG}</a><!-- end pay_link -->

			</td-->

		</tr><!-- end records --><!-- begin no_records -->

		<tr class="usualbg">

			<td colspan="6">{NO_ORDERS_MSG}</td>

		</tr><!-- end no_records --><!-- begin navigator_block -->

		<tr class="navigator-row">

			<td colspan="6" align="right">{navigator}</td>

		</tr><!-- end navigator_block -->

		</table>	



	</div>

</div>


</div>