<div class="block-category-description {block_class}" style="{block_style}">

<div class="BlockTop">

	<div class="TopCenter">

		<div class="TopLeftBgr">

			<div class="TopRightBgr">

				<div class="TopLeft"></div>

				<div class="TopRight"></div>

				<div class="TopTitle">

					<div class="TopTitleBgr"><h1>{category_name}</h1></div>

				</div>

			</div>

		</div>

	</div>

</div>



<div class="BlockMiddle">

	<div class="MiddleCenter">


			<!-- begin image_large_block --><img src="{src}" {width} {height} border="0" hspace="5" align="left" alt="{alt}" /><!-- end image_large_block -->

			 {full_description}




	</div>

</div>

<div class="BlockBottom">

	<div class="BottomCenter">

		<div class="BottomLeft"></div>

		<div class="BottomRight"></div>

	</div>

</div>

</div>