<script type="text/javascript">
	$(document).ready(function(){
		$("img.ArticleImg").css({cursor: "pointer"}).click(function(){
			var viewPortWidth = window.innerWidth;
			var dialogWidth = ( viewPortWidth > 200 ) ? viewPortWidth*0.9 : 160;
			var dialogHeight = (dialogWidth + 40*0.7777)/1.7777;
			if(jQuery.browser.mobile && viewPortWidth - $(window).width() < -40 ){
				dialogWidth += 30;
				dialogHeight += 30;
			}
			showDialog(dialogWidth, dialogHeight,
					     '<iframe width="' + (dialogWidth - 40) + '" height="' + (dialogHeight - 40) + '" src="' + $(this).attr("alt").replace("/v/", "/embed/").replace("&rel=", "?rel=") + '" frameborder="0" allowfullscreen></iframe>',
					     function(){
						$("#background, #dialogHeader a").click(function(){
							$("#dialogContent").html("");
							});
						});
				  return false;
			})
		});
</script>	

<div class="block-articles-details {block_class}" style="{block_style}">
	<h1 class="commonbg">{article_title}</h1>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<!-- begin no_article_item --><div class="errorbg" align="center">{NO_ARTICLE_MSG}</div><!-- end no_article_item -->
		<!-- BEGIN article_item -->
		<div>
{PREPREV}{PREV}{MIDDLE}{NEXT}{POSNEXT}          
		<!-- begin author_block -->

		<div class="AuthorBlock">

		<!-- begin author_name_block --><b>{author_name}</b> <!-- end author_name_block -->

		<!-- begin author_email_block -->&lt;{author_email}&gt;<!-- end author_email_block -->

		<!-- begin author_url_block --> <a href="{author_url}" target="_blank">{author_url}</a><!-- end author_url_block -->

		</div>

		<!-- end author_block -->


		<!-- begin date_block -->

		<div class="articleDate">

		<!-- begin article_date_block -->{article_date}<!-- end article_date_block --> 

		<!-- begin date_end_block --> &ndash; {date_end}<!-- end date_end_block --> 

		</div>

		<!-- end date_block -->


		<div class="ArticleDescription">

		<!-- begin flash_player_block -->

		<script type="text/javascript">

		//<![CDATA[

		flashplayer('{stream_video}','{stream_video_preview}','{stream_video_width}','{stream_video_height}','no','');

		//]]>

		</script><!-- end flash_player_block -->

		<!-- begin windows_media_block-->

		<script type="text/javascript">

		//<![CDATA[

		mediaplayer('{stream_video}','{stream_video_width}','{stream_video_height}','false');

		//]]>

		</script><!-- end windows_media_block-->

		<!-- begin image_large_block -->

		<div class="boxArticleImg"><img src="{src}" {width} {height} class="ArticleImg" alt="{alt}" /></div><br><!-- end image_large_block -->

		<!-- begin image_small_block -->

		<img src="{src}" {width} {height} class="ArticleImg" alt="{alt}" /><!-- end image_small_block -->

		<!-- begin short_description_block -->

		{short_description}<!-- end short_description_block -->

		{full_description}

		</div>


		<!-- begin link_url_block --><div><b>{LINK_URL_MSG}</b>: <a href="{link_url}" target="_blank">{link_url}</a></div><!-- end link_url_block -->

		<!-- begin download_url_block --><div><b>{DOWNLOAD_URL_MSG}</b>: <a href="{download_url}" target="_blank">{download_url}</a></div><!-- end download_url_block -->

		<!-- begin notes_block --><div><b>{NOTES_MSG}</b>: {notes}</div><!-- end notes_block -->

		<!-- begin keywords_block --><div><b>{KEYWORDS_MSG}</b>: {keywords}</div><!-- end keywords_block -->


{PREPREV}{PREV}{MIDDLE}{NEXT}{POSNEXT}             
			</div>

			<!-- END article_item -->


			<br />


			<!-- begin reviews -->

			<div><a href="{reviews_href}">{RATE_ARTICLE_MSG}</a>.</div>

			<div class="SummaryStatistic">

					<!-- begin not_rated -->

					<b>{NOT_RATED_ARTICLE_MSG}</b> 

					<!-- end not_rated -->

					<!-- begin summary_statistic -->

					<b>{AVERAGE_RATING_MSG}:</b> 

					<img class="{average_rating_image}" src="images/tr.gif" alt="{average_rating_alt}" align="top" /> 

					{BASED_ON_REVIEWS_MSG}. 

					<!-- end summary_statistic -->

					<a href="{reviews_href}">{WRITE_REVIEW_MSG}</a>.

			</div>

			<br />

			<!-- begin positive_review -->

			<div class="middlebg padding6px">{POSITIVE_REVIEW_MSG}</div>

			<div class="articleDate padding6px floatright">{review_date_added}</div>

			<div class="{review_user_class} padding6px">{review_user_name} <img class="commend" src="images/tr.gif" align="top" alt="" /></div>		

			<div class="RatingImage"><img class="{rating_image}" src="images/tr.gif" align="top" /></div>

			<div class="RatingText">

				<div class="title">{review_summary}</div>

				<div align="justify">{review_comments}<br /></div>

			</div>

			<!-- end positive_review -->	

			<!-- begin negative_review -->

			<div class="middlebg padding6px">{NEGATIVE_REVIEW_MSG}</div>

			<div class="articleDate padding6px floatright">{review_date_added}</div>

			<div class="{review_user_class} padding6px">{review_user_name} <img class="discommend" src="images/tr.gif" align="top" /></div>

		

			<div class="RatingImage"><img class="{rating_image}" src="images/tr.gif" align="top" /></div>

			<div class="RatingText">

				<div class="title">{review_summary}</div>

				<div align="justify">{review_comments}</div>

			</div>

			<!-- end negative_review -->

			<!-- begin all_reviews_link -->
			<div align="right" class="middlebg padding6px"><a href="{reviews_url}"><a href="{reviews_href}">{SEE_ALL_REVIEWS_MSG}</a></div>
			<!-- end all_reviews_link -->
			<!-- end reviews -->
	</div>
</div>
</div>