<script type="text/javascript">
	
	function showVideo(elem){
		var viewPortWidth = window.innerWidth //$(window).width(); //window.innerWidth
		var dialogWidth = ( viewPortWidth > 200 ) ? viewPortWidth*0.9 : 160;
		var dialogHeight = (dialogWidth + 40*0.7777)/1.7777;
		if(jQuery.browser.mobile && viewPortWidth - $(window).width() < -40 ){
			dialogWidth += 30;
			dialogHeight += 30;
		}
		showDialog(dialogWidth, dialogHeight,
				     '<iframe width="' + (dialogWidth - 40) + '" height="' + (dialogHeight - 40) + '" src="' + $(elem).attr("href").replace("/v/", "/embed/").replace("&rel=", "?rel=") + '" frameborder="0" allowfullscreen></iframe>',
				     function(){
					$("#background, #dialogHeader a").click(function(){
						$("#dialogContent").html("");
						});
					});
	}
	
	$(document).ready(function(){
		if( window.location.hash.length > 2){
			if($("a.youtube img[src*='" + window.location.hash.substr(1) + "']").length){
				showVideo($("a.youtube img[src*='" + window.location.hash.substr(1) + "']").parent("a.youtube"));
			}
		}
		$("a.youtube").removeAttr("rel").click(function(){
			showVideo(this);
			newHash = $("img" ,this).attr("src");
			location.hash = newHash.substring( newHash.lastIndexOf("/") + 1, newHash.lastIndexOf(".") ).replace("video-","");
			return false;
			})
	});
</script>

<div class="block-articles-list {block_class}" style="{block_style}">

<div class="BlockMiddle">

	<div class="MiddleCenter">



<table width="100%" border="0" cellspacing="0" cellpadding="0">

<!-- begin search_and_navigation -->

<tr class=""> 

	<td valign="top">



		<table width="100%" border="0" cellspacing="0" cellpadding="0">

		<tr>

			<!-- begin search_results --><td>{FOUND_ARTICLES_MSG}</td><!-- end search_results -->

			<!-- begin navigator_block --><td align="right" nowrap="nowrap" class="navigator">{navigator}</td><!-- end navigator_block -->

		</tr>

		</table>



	</td>

</tr>

<!-- end search_and_navigation -->

<tr class="usualbg"> 

	<td valign="top">



			<!-- begin no_items -->

			<table width="100%" border="0" cellspacing="0" cellpadding="0">

			<tr><td align="center" class="padding10px">{NO_ARTICLES_MSG}</td></tr>

			</table>

			<!-- end no_items -->



			<table width="100%" border="0" cellspacing="0" cellpadding="0"><!-- BEGIN items_rows -->

			<tr><!-- BEGIN items_cols -->

				<td valign="top" width="{item_column}" class="">

					<a name="a{a_name}"></a>

					<table width="100%" border="0" cellspacing="0" cellpadding="0">

					<tr>

						<td class="">	

							<!-- begin reviews --><!-- end reviews -->

							

							<!-- begin found_in_category --><!-- BEGIN found_categories -->

							<!--begin restricted_cat_image--><!--end restricted_cat_image--><!-- END found_categories -->	

							<!-- end found_in_category -->



							<!-- begin author_block -->

							<!-- begin author_name_block --><!-- end author_name_block -->

							<!-- begin author_email_block --><!-- end author_email_block -->

							<!-- begin author_url_block --><!-- end author_url_block -->

							<!-- end author_block -->



							<!-- begin date_block -->


							<!-- begin article_date_block --><!-- end article_date_block --> 

							<!-- begin date_end_block --><!-- end date_end_block --> 


							<!-- end date_block -->


<div class="articlesBox">

							<!-- begin flash_player_block -->

							<!-- end flash_player_block -->

							<!-- begin windows_media_block-->

							<!-- end windows_media_block-->

							<!-- begin image_large_block --><!-- end image_large_block -->

<div class="pix">
<!-- begin image_small_block -->
<a class="youtube" href="{alt}"><img src="{src}" border="0" /></a>
<!-- end image_small_block -->
</div>

<!-- begin short_description_block -->
<div class="text">
<span class="title">{article_title}<!--begin restricted_image--><!--end restricted_image--></span><br />
{short_description}
</div>

</div>

<!-- begin link_url_block -->
<!-- end link_url_block -->

							<!-- end short_description_block -->

                            
                            
<!-- begin link_url_block --><!-- end link_url_block -->
				            <!-- begin download_url_block --><!-- end download_url_block -->                            
                            

							





				            <!-- begin notes_block --><!-- end notes_block -->

				            <!-- begin keywords_block --><!-- end keywords_block -->


							</td>

					</tr>

					</table>

      <!-- BEGIN items_rows_thumb -->
<!-- BEGIN items_cols_thumb -->           
          
  
 <!-- END items_cols_thumb -->
<!-- END items_rows_thumb -->   

				</td><!-- END items_cols -->

			</tr><!-- begin delimiter -->

			<!--tr>

				<td colspan="{total_columns}" class="hDelimiter"><img src="images/tr.gif" alt="" /></td>

			</tr--><!-- end delimiter -->

			<!-- END items_rows -->

			</table>



	</td>

</tr>

<!-- begin search_and_navigation -->

<tr class=""> 

	<td valign="top">



		<table width="100%" border="0" cellspacing="0" cellpadding="0">

		<tr>

			<!-- begin search_results --><td>{FOUND_ARTICLES_MSG}</td><!-- end search_results -->

			<!-- begin navigator_block --><td align="right" nowrap="nowrap" class="navigator">{navigator}</td><!-- end navigator_block -->

		</tr>

		</table>



	</td>

</tr>

<!-- end search_and_navigation -->

</table>



	</div>

</div>

<div class="BlockBottom">

	<div class="BottomCenter">

		<div class="BottomLeft"></div>

		<div class="BottomRight"></div>

	</div>

</div>

</div>