<script language="JavaScript" type="text/javascript">
//<![CDATA[
{footer_js}
//]]>
</script>
<div class="footerTotal" style="{block_style}">
	<div class="footerMenu"><!-- begin footer_links --><!-- begin page_separator -->
		<span>.</span><!-- end page_separator -->
		<a class="smallText" href="{menu_url}" {menu_target} onclick="{onclick_code}">{menu_title}</a><!-- end footer_links -->
	</div>
	
    <div class="footerHTML">{footer_html}</div>

<div class="copyright">&copy; Copyright {footer_html} Innovative Art Concepts, LLC<br />
  All designs, text and photographs are the property of  Innovative Art
  Concepts, LLC and may not be copied or <br />
  reproduced without written
  permission. Cutting Edge Stencils is a trademark of Innovative Art Concepts,
  LLC<br />
  Site designed by <a href="http://nisarga.net" target="_blank">Nisarga Design - MT</a>

</div>

<div class="footerContact">
<div class="footerContactTop">Our phone#</div>
<div class="footerContactBottom">201-828-9146</div>
</div>

</div>