<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">

<head>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />

<meta http-equiv="Content-Language" content="{meta_language}" />

<title>{meta_title}</title><!-- begin head_tags -->

{head_tag}<!-- end head_tags -->

<link rel="stylesheet" type="text/css" href="/js/shadowbox-3.0.3/shadowbox.css">
<script type="text/javascript" src="/js/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
    overlayColor: "#000000",
    overlayOpacity: 0.8,
});
</script>


</head>



<body class="commonbg">



<div class="frameBlocks twoFrames">

	<div class="headerStyle" style="{header_style}">

	{header}

	</div>

	<div class="contentStyle">

		<div class="leftStyle" style="{left_style}">

			<div class="leftStylePadding">

			{left}

			</div>

		</div>

		<div class="centerStyle" style="{middle_style}">

			<div class="centerStylePadding">

			{middle}

			</div>

		</div>

	</div>

	<div class="footerStyle" style="{footer_style}">

	{footer}

	</div>

</div>

<!-- Start of HubSpot Logging Code  -->
<script type="text/javascript" language="javascript">
var hs_portalid=160460; 
var hs_salog_version = "2.00";
var hs_ppa = "cuttingedgestencils.app12.hubspot.com";
document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End of HubSpot Logging Code -->

{hidden_blocks}

</body>

</html>