<!DOCTYPE HTML>
<html lang="{meta_language}">
<head>
     <script>
	  //alert(navigator.userAgent);
	  var isMobile = navigator.userAgent.match(/(iPhone|iPod|BlackBerry|Android.*Mobile|BB10.*Mobile|webOS|Windows CE|IEMobile|Opera Mini|Opera Mobi|HTC|LG-|LGE|SAMSUNG|Samsung|SEC-SGH|Symbian|Nokia|PlayStation|PLAYSTATION|Nintendo DSi)/i);
	  if (isMobile) {
	       window.location.replace(window.location.href.replace("www.cut", "m.cut"));
	  }
     </script>
     <meta name="p:domain_verify" content="2aee30378ba25353bd023a54409a1101" >
     <meta name="google-site-verification" content="4D1V7E8PaA8cncVUJhuRVoSez_CzgmCqmvns1fhV-hg" />
     
     <title>{meta_title}</title>
     <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css' />
     <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
     <script async src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
     <script async src="/js/facescroll.js"></script>
     <script async src="/js/jquery.cookie.js"></script>
     <script async src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
     <script async src="https://apis.google.com/js/plusone.js"></script>
     
     <script>
     ///// --- LinkedIn async loading
     $(document).ready(function() {	
	  $.getScript("http://platform.linkedin.com/in.js?async=true", function success() {IN.init();});
     });

     ///// --- IE-specific polyfill which enables the passage of arbitrary arguments to the callback functions of javascript timers (HTML5 standard syntax).
     if (document.all && !window.setInterval.isPolyfill) {
       var __nativeSI__ = window.setInterval;
       window.setInterval = function (vCallback, nDelay /*, argumentToPass1, argumentToPass2, etc. */) {
	 var aArgs = Array.prototype.slice.call(arguments, 2);
	 return __nativeSI__(vCallback instanceof Function ? function () {
	   vCallback.apply(null, aArgs);
	 } : vCallback, nDelay);
       };
       window.setInterval.isPolyfill = true;
     }
     /////
     
     ///// --- Set name of hidden property and visibility change event - 
     var hidden, state, visibilityChange; 
     if (typeof document.hidden !== "undefined") {
       hidden = "hidden";
       visibilityChange = "visibilitychange";
       state = "visibilityState";
     } else if (typeof document.mozHidden !== "undefined") {
       hidden = "mozHidden";
       visibilityChange = "mozvisibilitychange";
       state = "mozVisibilityState";
     } else if (typeof document.msHidden !== "undefined") {
       hidden = "msHidden";
       visibilityChange = "msvisibilitychange";
       state = "msVisibilityState";
     } else if (typeof document.webkitHidden !== "undefined") {
       hidden = "webkitHidden";
       visibilityChange = "webkitvisibilitychange";
       state = "webkitVisibilityState";
     }
     /////
      
     var close = new Image(); close.src = "../images/custom/close.png";
     function showDialog(width, height, content, callback){
	  callback = typeof callback !== 'function' ? function(){;} : callback;
     
	  var offsetY = isMobile ? window.pageYOffset : $(window).scrollTop();
	  var offsetX = isMobile ? window.pageXOffset : $(window).scrollLeft();
     
	  var leftDialog = ($('body').innerWidth() - width ) / 2 + offsetX + "px";
	  var topDialog = ($(window).height() - height ) / 2 + offsetY + "px";
	  
	  if(isMobile &&(window.innerWidth - $(window).width() < -40) ){
	       leftDialog = offsetX + "px";
	       topDialog = (offsetY + 20) + "px";
	  }
     
	  $("#background").fadeIn("slow");
	  $("#dialogWindow").css({"position": "absolute", "top": topDialog, "left": leftDialog, "width": width + "px", "height": height + "px"}).fadeIn("slow");
	  $("#dialogContent").html(content);
	  $("#background, #dialogHeader a").click(function(){$("#background, #dialogWindow").fadeOut("normal"); return false; return false;});
	  callback();
     }
     
     function closeInMs(miliseconds, elements) {
     window.setTimeout(function(){$(elements).fadeOut("slow");},miliseconds);
     }
     </script>
     <!-- begin head_tags -->
     
     {head_tag}<!-- end head_tags -->
     <!--[if lt IE 9]>
	 <style type="text/css">
	     body {background: #f3e28c url(/images/custom/ie-bg.gif) repeat-x !important;}
	 </style>
     <![endif]-->
</head>

<body>
     <div class="frameBlocks twoFrames">
	  <div class="headerStyle" style="{header_style}">
	       {header}
	  </div>
	  <div class="contentStyle">
	       <div class="centerContainer">
		    <div class="leftStyle" style="{left_style}">
			 <div class="leftStylePadding">
			      {left}
			 </div>
		    </div>
		    <div class="centerStyle" style="{middle_style}">
			 <div class="centerStylePadding">
			      {middle}
			 </div>
		    </div>
	       </div>
	       <div class="footerStyle" style="{footer_style}">
		    {footer}
	       </div>
	  </div>
     </div>
     {hidden_blocks}
     <div id="background" style="width: 400%; height: 400%; background-color: black; position: fixed; z-index: 100; display: none; top: 0pt; left: 0pt; opacity: 0.7;filter: alpha(opacity = 70);transform:translateY(0px);"></div>
     <div id="dialogWindow">
	  <div id="dialogHeader" class="commonbg"><a href=""></a></div>
	  <div id="dialogContent"></div>
     </div>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
