ErrorDocument 404 /friendly_url.php

Options +FollowSymLinks
RewriteEngine on

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.php\ HTTP/
RewriteRule ^(([^/]+/)*)index\.php$ http://www.cuttingedgestencils.com/$1 [R=301,L]

RewriteRule ^flower-stencils-alliums-wall-stencils.html(.*)$ /large-flower-stencil.html [R=301,L]
RewriteRule ^stencil-wall-decal-tree-branch-stencils.html(.*)$ /wall-art-stencil-decal.html [R=301,L]
RewriteRule ^flower-stencils-large-wall-stencils.html(.*)$ /flower-stencil-wall-stencils.html [R=301,L]
RewriteRule ^stenciling-ideas.html(.*)$ /stenciling-instructions.html [R=301,L] 
RewriteRule ^\/stencils-for-walls\/?(.*)$ "http\:\/\/blog\.cuttingedgestencils\.com\/$1" [R=301,L]
RewriteRule ^damaskallover-stenciling-tips.html(.*)$ "http\:\/\/blog\.cuttingedgestencils\.com\/damaskallover-stenciling-tips.html" [R=301,L]
RewriteRule ^nursery-stencils.html(.*)$ /nursery-stencils-walls.html [R=301,L] 


#AddHandler cgi-script .cgi .pl
AuthName "CES"
AuthUserFile "/home/cuttinge/.htpasswds/public_html/passwd"

RewriteCond %{HTTP_HOST} ^.*$
RewriteCond %{HTTP_HOST} ^cuttingedgestencils\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.cuttingedgestencils\.com$
RewriteRule ^stencils\-for\-walls\/?(.*)$ "http\:\/\/blog\.cuttingedgestencils\.com\/$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^cuttingedgestencils.com$  [OR]
RewriteCond %{HTTP_HOST} ^216.70.85.26$ 
RewriteRule ^(.*)$ "http\:\/\/www\.cuttingedgestencils\.com\/$1" [R=301,L]

#if not a php file HTM -> HTML
RewriteCond {REQUEST_URI} !=.*\.php
RewriteRule ^(.*)\.htm$ http://%{HTTP_HOST}/$1.html? [NC,R=301,L]

#if no extention add .html
RewriteCond {REQUEST_URI} !=.*\.html
RewriteRule ^([^.]+[^/])$ http://%{HTTP_HOST}/$1.html? [NC,R=301,L]

#if .HTML with category_id parameter - remove it
RewriteCond %{QUERY_STRING} ^category_id=[0-9]*&*(tab=[a-z]*)*$
RewriteRule ^(.*\.htm[l]*)$ http://%{HTTP_HOST}/$1?%1 [NE,R=301,L]

#if .HTML with tab parameter - redirect to correct anchor (?tab=spec -> #spec)
RewriteCond %{QUERY_STRING} ^tab=([a-z]*)$
RewriteRule ^(.*\.htm[l]*)$ http://%{HTTP_HOST}/$1#%1? [NE,R=301,L]

#if .html and https redirect to http
RewriteCond %{REQUEST_URI} .*\.html.*
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]